/* Tournament Page Css */
/* Tournament Cards */
.tournamentRow {
  margin-top: 40px;
}
.tournament .card {
  border: var(--primaryGold) 2px solid;
  height: 460px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--primaryGold);
  clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 100%, 14% 100%, 0 86%);
}
.tournament .cardBorder {
  height: 450px;
  width: 290px;
  margin: auto auto;
  padding: 20px 20px;
  text-align: center;
  background-color: var(--bgColor);
  clip-path: polygon(0 0, 85% 0, 100% 14%, 100% 100%, 14% 100%, 0 86%);
}
.toutnamentIdDiv {
  background-color: var(--primaryGoldHover);
  cursor: pointer;
  margin-top: -20px;
  margin-left: -10px;
  transition: ease-in 0.2s;
  clip-path: polygon(0 0, 90% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%);
}
.toutnamentIdDiv:hover {
  background-color: var(--successColor);
}
.tournamentSearchButton {
  cursor: pointer;
  margin-left: -30px;
  padding: 10px;
}
.filterTournamentSec {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tournament .card {
    width: 300px;
  }
  .tournament .cardBorder {
    width: 290px;
  }
  .filterTournamentSec {
    flex-direction: row;
  }
}
