.singleTournamentHeroBg {
  background-image: url("../../../assets//images//slide5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tournamentStatusDiv {
  position: absolute;
  top: 10%;
  left: 0;
  z-index: 100;
  color: #fff;
  height: 90px;
  width: 90px;
  clip-path: polygon(0 0, 0 100%, 100% 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tournamentStatusText {
  transform: rotate(-45deg);
  font-size: 0.6rem;
  margin-bottom: 50px;
  margin-right: 30px;
  padding-right: 10px;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tournamentStatusDiv {
    height: 125px;
    width: 125px;
  }
  .tournamentStatusText {
    font-size: 0.8rem;
    margin-bottom: 50px;
    margin-right: 40px;
    padding-right: 10px;
    padding-top: 0;
  }
}
